.high-cont {
    width: 100%;
    height: fit-content;
}

.highlight {
    width: 100%;
    height: 55vh;
    margin-top: 0;
    position: relative;
}

.highlight-img {
    width: 100%;
    height: 100%;

    /*
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    */

    background-repeat: no-repeat;
    /*background-position: calc(50%) calc(50% - 3vh);*/

    filter:saturate(0.5) contrast(0.7) brightness(1.4);
    position: absolute;
}

.cycler-cont {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    width: fit-content;

    margin-left: auto;
    margin-right: auto;

    gap: 20vw;
}

.high-disc-title {
    color: white;
    font-size: 2vmax;

    margin-top: 0;
    margin-bottom: 0;
}

.disc-cont {
    box-shadow: 0px 0px 40px 30px #00000021;
    background-color: #00000021;
    border-color: #00000021;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: auto;
    margin-bottom: auto;
}

.high-disc-body {
    color:white;
    max-width: 30vw;
    font-size: 1.3vmax;

    text-shadow: 0 0 20px black;
}

.image-cycler {
    perspective: 40vmax;

    display: flex;
    flex-wrap: wrap;

    width: 20vmax;
    height: 15vmax;
}

.img-centre, .img-left, .img-right, .img-right1, .img-left1, .img-left2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 15px;

    position: absolute;

    transform-style: preserve-3d;

    transition: all 0.5s;
}

.img-centre {
    width: 20vmax;
    height: 15vmax;
    transform: rotateY(0deg);

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.img-left, .img-right {
    bottom: 1vmax;
    top: 4vmax;

    width: 14vmax;
    height: 10vmax;
}

.img-left {
    transform: rotateY(-45deg);
    margin-right: -3vmax;

    left: -11vmax;
    right: 100%;
}

.img-right {
    transform: rotateY(45deg);
    margin-left: -3vmax;

    left: 100%;
    right: auto;
}

.img-right1, .img-left1, .img-left2 {
    bottom: 1vmax;
    top: 4vmax;

    height: 10vmax;
    width: 0;
}

.img-right1 {
    transform: rotateY(45deg);
    left: 135%;
    right: auto;
}

.img-left1, .img-left2 {
    transform: rotateY(-45deg);
    right: 135%;
    left: auto;
}

.img-left2 {
    transition: all 0s;
}

.left-hitbox, .right-hitbox {
    position: absolute;
    width: 10vmax;
    height: 14vmax;
}

.left-hitbox {
    right: 100%;
}

.right-hitbox {
    left: 100%;
}