.project-highlight {
    height: 8.6vmax;
    width: 8.6vmax;
    min-width: 8.6vmax;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-color: var(--dark-color);
    border-width: 0.2vmax;
    border-radius: 20px;
    border-style: solid;

    position: relative;
}

.project-highlight-name {
    position: absolute;
    left: 0;
    bottom: 0;

    margin-left: 0.2vmax;
    margin-bottom: 0.2vmax;

    color: white;
    font-weight: 500;
}