.project {
    height: calc(100% - 1.5vmax);
    width: 100%;

    transition: all 0.5s;

    position: relative;
    z-index: 0;
}

.project-inner {
    max-height: 100%;
    width: 100%;

    background-color: #272727;
    border-radius: 0.3vmax;
    padding-bottom: 1.5vmax;

    transition: all 0.5s;

    position: absolute;

    display: flex;
    justify-content: center;
}

.project-inner:hover {
    max-height: 100vmax;
    background-color: #070707;
}

.proj-img-cont {
    width: 15vmax;

    margin-left: auto;
    margin-right: auto;
}

.proj-img-cont>div>div {
    height: 15vmax;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 0;
    margin-bottom: 1vmax;

    border-radius: 5px;

    position: relative;
    box-shadow: inset 0px -30px 50px 0px #0000008f;
}

.proj-img-cont>div>div>p {
    color: white;

    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7vmax;
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 0.589) 1px 3px 2px;

    position: absolute;
    left: 0.3vmax;
    bottom: 0.3vmax;
}

.proj-title {
    color: white;

    margin-top: 0.5vmax;
    margin-bottom: 0;
    font-size: 0.9vmax;
    font-weight: 500;
}

.proj-subtitle {
    color: white;
    font-size: 0.6vmax;
    font-weight: 500;

    margin-top: 0;
    margin-bottom: 0;
}

a:-webkit-any-link {
    text-decoration: none !important;
}

.fa-chevron-down {
    color: #5f5f5f;
    ;
    height: fit-content;
    font-size: 1.7vmax;

    position: absolute;
    bottom: 0.2vmax;
}